<div class="flex-item">
    <div class="card">
        <div class="card__ico"><img src="<%= ico %>" alt=""></div>
        <div class="card__title primary"><%= title %></div>
        <div class="card__desc"><%- desc %></div>
    </div>
</div>
