<div class="details__card2">
    <div class="details__card2__date primary bold">2021/03/03(水)19:00～21:30</div>
    <div class="details__card2__content">
        講師 / <span class="details__card2__content_large">西尾</span>　　残り人数 / <span class="details__card2__content_large bold">5名</span>
    </div>
</div>
