<div class="details__card">
    <div class="details__card__date primary"><2021/03/03(水)19:00～21:30</div>
    <span class="details__card__content">
        講師 / 西尾  残り人数 / <span class="bold">5名</span>
    </span>
</div>
