<div class="faq__card">
    <div class="faq__card__q">
        <div class="faq__card__q__img">
            <img src="./assets/img/ico-q.png" alt="">
        </div>
        <div class="faq__card__q__content">
            <%- q %>
        </div>
    </div>
    <div class="faq__card__a">
        <div class="faq__card__a__img">
            <img src="./assets/img/ico-a.png" alt="">
        </div>
        <span class="faq__card__a__content bold">
            <%- a %>
        </span>
    </div>
</div>
