<div class="faq__card">
    <div class="faq__card__q">
        <span class="faq__card__q__content">
            <%= q %>
        </span>
    </div>
    <div class="faq__card__a">
        <span class="faq__card__a__content bold">
            <%= a %>
        </span>
    </div>
</div>
