<div class="performance__card">
    <div class="performance__card__ico"><img src="<%= img %>" alt=""></div>
    <div class="performance__card__content">
        <div class="performance__card__content__title bold"><%= title %></div>
        <div class="performance__card__content__desc"><%= desc %></div>
    </div>
</div>
