<div class="performance__card">
    <div class="performance__card__ico"><img src="<%= img %>" alt=""></div>
    <span class="performance__card__title"><%= title %></span>
    <span class="performance__card__desc"><%= desc %></span>
</div>
