<section class="banner">
    <ul>
        <li><img src="./assets/img/toha-banner1.jpg" alt=""></li>
        <li><img src="./assets/img/toha-banner2.jpg" alt=""></li>
        <li><img src="./assets/img/toha-banner1.jpg" alt=""></li>
    </ul>
</section>
