<section class="banner">
    <ul>
        <li><img src="./assets/img/banner-1.jpg" alt=""></li>
        <li><img src="./assets/img/banner-2.jpg" alt=""></li>
        <li><img src="./assets/img/banner-3.jpg" alt=""></li>
    </ul>
</section>
