<section class="cost">
    <div class="container">
        <div class="title primary">セミナー費用</div>
        <div class="cost__desc">
            一般的に経営者が独自で手に入れた経営のノウハウは、ごく一部の人にしか公開しません。<br>
            なぜなら、経営者自身が実際に失敗経験を乗り越え、改善しながら身につけた再現性の高い「秘伝」だからです。<br>
            通常１時間５万円を頂いている内容をセミナーでは２時間（10万円相当）の価値になります。<br>
            しかし、今回は、協会理念である《「経営力教育」豊かな社会を共に創る 》という理念の元、多くの社長の皆さんに経営スキルをお伝えしたいと思い、<br>
        </div>

        <div class="cost__box">
            限定価格 <span class="primary title">5,500</span>円
        </div>

        <div class="cost__desc">
            で、セミナーにご参加いただけるように致しました。<br>
            <br>
            これまで２０２０年までに５０回以上行ったセミナーは、「安い」と言われても「高い」と言われたことの無い特別な内容になっています。<br>
            <br>
            社長から経営者をを目指す方には、ここでしか聞けない内容、さらに無料で入手できる特別プレゼント！<br>
            『デザイン力×経営力の教科書』の電子書籍、『次世代効率経営セミナー』の講義動画なども、セミナーにご参加頂かないとお渡しすることが出来ませんのでご了承ください。<br>
            <br>
            注意：本セミナーの「規定受け入れ人数」に達し次第、予告なしで終了とさせて頂きますので予めご了承ください。<br>
        </div>

    </div>
</section>
