<footer class="footer">
    <div class="container">
        <img src="./assets/img/logo.svg" alt="" class="footer__logo">

        <a href="">プライバシーポリシー</a>
    </div>
    <div class="footer__cr white center">
        copyright©JPBC All Rights Reserved.
    </div>
</footer>
