<div class="containar">
    <img src="./assets/img/logo.svg" alt="" class="header__logo">

    <a href="">プライバシーポリシー</a>
</div>

<footer class="footer">
    copyright©JPBC All Rights Reserved.
</footer>
