<header class="header">
    <img src="./assets/img/logo.svg" alt="" class="header__logo">
    <section class="container">

        <div class="header__text">
            <span class="header__text__title">
                現役社長から直接<br>
                「経営が学べる」経営セミナー
            </span>
            <span class="header__text__title">
                「売上が下がった」「お客さんが来ない」<br>
                「忙しい」・・・<br>
                そんなとき、実際どうすればいいのか？<br>
                本当の理由がわかる
            </span>
        </div>

        <img src="./assets/img/top-text.png" alt="">

        <div class="header__text2">
            海外マレーシア・日本全国６都市での開催実績<br>
            ３ヵ月で4500万円の売上達成！<br>
            経営課題に悩むあなたに明確な答えをお伝えします。
        </div>

        <div>
            はじめて経営をする人でも３ヵ月で成果が出せる ”シンプル経営方法” を手に入れ、<br>
            忙しい社長からライフスタイルに合わせた経営者になり、<br>
            継続的にお客さんを獲得するノウハウを手に入れませんか？
        </div>
    </section>
</header>
