<section class="join">
    <div class="container">
        <div class="join__ico">JOIN</div>
        <div class="title white">年商３０００万を突破する<br>一歩先の経営スキルを手に入れろ！</div>

        <div class="join__present center">
            <div class="join__present__title">
                <span class="primary">講義動画</span><span class="lightblue"><span class="join__present__title_small">＆</span>電子書籍</span>
            </div>
            <div class="join__present__subtitle lightblue">参加者全員に<span class="join__present__subtitle_large primary">無料</span>プレゼント！</div>

            <img src="./assets/img/join-book.jpg" alt="" class="join__present__img">

            <div class="join__present__desc">
                シンプルな「経営のきほん」を知り<br>
                ひとり起業家から法人まで「売上７倍」「労働時間削減」を達成する経営者になって<br>
                新しい時代に「できる社長」になりませんか？
            </div>

            <a href="https://www.google.com" class="button">経営セミナーに参加する</a>

            <div class="join__present__attention">
                本セミナーの「規定受け入れ人数」に達し次第、予告なしで終了とさせて頂きますので予めご了承ください。
            </div>
        </div>
        <div class="join__gift__wrapper">
            <div class="join__gift flex">
                <span class="join__gift__text white">
                    <div class="join__gift__text__circle bold">参加者<br>限定特典！</div>
                    <div class="join__gift__text__before bold">今なら参加するだけで</div>
                    <div class="join__gift__text__title bold">Amazonギフト券</div>
                    <div class="join__gift__text__after bold">当たります！！！</div>
                    <div class="join__gift__text__desc">※Amazonギフト券は抽選となりますが、最低100円分は必ず当選するのでぜひご参加ください。</div>
                </span>
                <div>
                    <img src="./assets/img/join-amazongift.png" alt="" class="join__gift__img">
                </div>
            </div>
        </div>
    </div>
</section>
