<section class="note">
    <div class="container">
        <img src="./assets/img/logo.svg" alt="" class="header__logo">

        <div class="note__bad">
            <span class="note__bad__title title primary">
                参加される前に念のためにお伝えします<br>
                下記の方は本セミナーには<br>
                向きませんので、ご注意ください。
            </span>
            <div class="note__bad__content">
                <ul>
                    <li>経営のノウハウ・知識だけ仕入れたいと思っている方</li>
                    <li>すでに経営に自信があり、経営には全く困っていない方</li>
                    <li>本気で経営を学んで、会社を変える意思の全くない方</li>
                    <li>安い単価でも生活さえできれば良いと思われている方</li>
                    <li>個人事業主で、今後、法人にする予定の無い方</li>
                    <li>とりあえず、短期的な売上アップで満足したい方</li>
                </ul>
            </div>
        </div>
        
        <div class="note__good">
            <span class="note__good__title title primary">逆に、以下に該当する方には<br>最適なセミナーです</span>
            <ul>
                <li>専門家として仕事はしているが、経営に自信が無い方</li>
                <li>紹介での仕事だけでなく、全国からも問い合わせが欲しい方</li>
                <li>短期間で経営を学び、本当の意味で経営者になりたい方</li>
                <li>クライアントの売上アップを応援したい方</li>
                <li>セミナー集客をしたいが、集客に困っている方</li>
                <li>独立開業済み、法人済みでビジネスをもっとよくしたい方</li>
                <li>会社組織を作って、もっとBtoBビジネスを開拓したい方</li>
            </ul>
        </div>

        <div class="note__word">
            わたしがこのセミナーでお伝えしたいのは、経営者として「自分で会社をコンサル（課題解決）し、会社の未来を創り、ビジネスが継続する方法」です。言い換えれば「OSのバージョンアップ」「次のステージへの一歩」そして、「社長としての成長」とも言えます。
            だから、失敗が怖かったり、不安があっても大丈夫。<br>
            話を聞くだけ、セミナーでの時間だけでも《経営スキル》が身につきます。
        </div>
    </div>
</section>
