<section class="performance">
    <div class="container">
        <div class="title primary">
            実績<br>
            <span class="title_small">（since2020）</span>
        </div>
        <div class="performance__desc flex flex-wrap">
            <div class="flex-item flex-item-50">
                「経営者宣言！」した<br>
                多くのお客様に<br>
                喜んで頂いています。
            </div>
            <div class="flex-item flex-item-50">
                「経営を学んで会社経営が改善された」<br>
                「同じ売上で労働時間が半分になった」など<br>
                全国にて年間20社程度、経営セミナー、経営勉強会にて<br>
                業種問わず経営改善を支援しています。
            </div>
        </div>

        <div class="flex flex-wrap">
            <% for (var i = 0; i < 6; i++) { %>
                <div class="flex-item flex-item-33">
                    <%- include('./components/_performance-card',
                    {img:'https://via.placeholder.com/120x200',
                    title:'自由に売上を上げる',
                    desc:'テキストテキストテキストテキストテキストテキストテキストテキストテキスト'}); %>
                </div>
            <% } %>
        </div>

        <div class="performance__desc2">
            企業、社団法人などでも<br>
            採用されて研修を行っています。
        </div>

        <div class="reason__box flex flex-wrap">
            <div class="flex-item flex-item-50">
                <div class="reason__box__item">
                    <div class="reason__box__item__title white">ウエディング協会様</div>
                    <div class="reason__box__item__content">
                        ・実績実績実績実績実績実績実績実績実績実績実績実績実績実績
                        ・実績実績実績実績実績実績実績実績実績実績実績実績実績実績実績実績
                        ・実績実績実績実績実績実績実績実績
                        ・実績実績実績実績実績実績実績実績実績実績実績実績実績実績
                        ・実績実績実績実績実績実績実績実績実績実績実績
                        ・実績実績実績
                        ・実績実績実績実績実績実績実績実績実績
                        ・実績実績実績実績実績
                    </div>
                </div>
            </div>
            <div class="flex-item flex-item-50">
                <div class="reason__box__item">
                    <img src="https://via.placeholder.com/560" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
