<section class="profile">
    <div class="container">
        <div class="title primary">講師プロフィール</div>

        <div class="reason__content flex">
            <div class="reason__content__man center">
                <img src="./assets/img/profile-man.jpg" alt="">
                <div class="reason__content__man__name">
                    <span class="reason__content__man__name_kanji">西尾 順</span><br>
                    <span class="reason__content__man__name_roma">にしお じゅん）</span>
                </div>
            </div>
            <div class="reason__content__text">
                <div class="reason__content__text__title bold">
                    JPBA理事／企業顧問<br>
                    デザイン・ブランディング会社：<br>
                    株式会社 クールアンドクレイジー  代表取締役
                </div>
                <span class="reason__content__text__desc">
                    この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。
                </span>
            </div>
        </div>
    </div>
</section>
