<section class="reason container">
    <img src="./assets/img/ico-logo.svg" alt="">

    <div class="title primary">
        なぜ効果が出るのか？<br>
        経営の基礎が学べる<br>
        「大きな理由」
    </div>
    <div class="reason__desc">
        多くの経営者が「PBFⓇ」で経営の基本を知り、素晴らしい経営を展開されています。その理由は、経営学や知識ではなく、開発者が実践してきた経営実学というところが特徴です。<br>
        <br>
        世に溢れている経営論や戦略論、リーダー育成は、ほとんどが研究者が作ったものです。もちろん、それも大事な内容ですが、その対象のほとんどが大企業を対象にしています。<br>
        <br>
        MBAなど経営資源があることを前提としていて、中小企業、零細企業、個人事業主など、経営資源が潤沢にない会社には合っていません。
    </div>


    <div class="title primary">
        パーソナルビジネスフレームワーク<br>
        「PBFⓇ」開発者・JPBA代表理事
    </div>
    <div class="reason__content flex flex-wrap">
        <div class="flex-item flex-item-50">
            <div class="reason__content__man center">
                <img src="./assets/img/reason-man.jpg" alt="">
                <div class="reason__content__man__name bold">
                    <div class="reason__content__man__name__kanji">親川 政明</div>
                    <div class="reason__content__man__name__roma">（Oyakawa Masaaki）</div>
                </div>
            </div>
        </div>
        <div class="flex-item flex-item-50">
            <div class="reason__content__text">
                <div class="reason__content__text__title bold">
                    一般社団法人 日本パーソナルビジネス協会　代表理事<br>
                    合同会社ミリオンズ　代表
                </div>
                <div class="reason__content__text__desc">
                    沖縄県出身。2010年、財務系経営コンサルタント事務所勤務。年商40億円のグループ企業のコンサルタントを経て、2014年、経営コンサルタントとして合同会社ミリオンズを設立。 代表に就任。 2017年、一般社団法人 日本パーソナルビジネス協会（JPBA）を設立し、代表理事に就任。 自身も現役の経営コンサルタントとして「９０日以内に売上アップと労働時間を削減」を同時に達成する「経営の仕組み」を全国の中小企業に経営指導を行なっている。複数の会社を所有するビジネスオーナー。アーリーステージの事業に投資する投資家（エンジェル）でもある。独自の経営理論はメディアにも多く掲載され、全国新聞の・産経新聞グループのフジサンケイビジネスアイ（SankeiBiz）にて３ヵ月連載している。
                </div>
            </div>
        </div>
    </div>

    <div class="title primary">講演実績とメディア</div>
    <div class="reason__box flex flex-wrap">
        <div class="flex-item flex-item-50">
            <div class="reason__box__item">
                <div class="reason__box__item__title white bold">講演／研修 実績</div>
                <div class="reason__box__item__content">
                    ・実績実績実績実績実績実績実績実績実績実績実績実績実績実績
                    ・実績実績実績実績実績実績実績実績実績実績実績実績実績実績実績実績
                    ・実績実績実績実績実績実績実績実績
                    ・実績実績実績実績実績実績実績実績実績実績実績実績実績実績
                    ・実績実績実績実績実績実績実績実績実績実績実績
                    ・実績実績実績
                    ・実績実績実績実績実績実績実績実績実績
                    ・実績実績実績実績実績
                </div>
            </div>
        </div>
        <div class="flex-item flex-item-50">
            <div class="reason__box__item">
                <div class="reason__box__item__title white bold">メディア</div>
                <div class="reason__box__item__content">
                    ・実績実績実績実績実績実績実績実績実績実績実績実績実績実績
                    ・実績実績実績実績実績実績実績実績実績実績実績実績実績実績実績実績
                    ・実績実績実績実績実績実績実績実績
                    ・実績実績実績実績実績実績実績実績実績実績実績実績実績実績
                    ・実績実績実績実績実績実績実績実績実績実績実績
                    ・実績実績実績
                    ・実績実績実績実績実績実績実績実績実績
                    ・実績実績実績実績実績
                </div>
            </div>
        </div>
    </div>

    <div class="title primary">東京都承認事業</div>
    <div class="reason__desc2">東京都「経営革新」教育事業として<br>都知事小池百合子氏の承認を得た事業です。</div>
    <img src="./assets/img/reason-jigyo.jpg" alt="">

    <div class="reason__recommend">
        <span class="reason__recommend__title primary">「PBFⓇ」はなぜ効果がでるのか？</span>
        <div class="reason__recommend__content">
            <ul>
                <li>「経営のきほん」を基礎から学びたい社長向け</li>
                <li>ビジネスで一番大事な再現性が高い仕組み</li>
                <li>20億〜個人事業主まで見てきた経験</li>
                <li>自身も起業家として成功</li>
                <li>経営現場の実践から生まれた</li>
                <li>はじめての人でも実践できることを念頭に設計</li>
                <li>自身も複数事業の経営に使い続けている</li>
                <li>経営者仲間といっしょに学ぶコミュニティがある</li>
            </ul>
        </div>
    </div>
</section>
