<section class="service">
    <div class="container">
        <div class="title primary">サービス内容</div>
        <div class="service__desc">
            起業家・事業家・経営者など<br>
            ステージの違う社長が「知る」から「実践」までを<br>
            一貫して「学べる場」をサポートしています！！
        </div>

        <img src="./assets/img/service.png" alt="">

        <div class="service__gallery flex">
            <div class="service__gallery__item">
                <img src="./assets/img/service-1.jpg" alt="">
                <div>「授業動画」が国内・海外どこでも学べる。</div>
            </div>
            <div class="service__gallery__item">
                <img src="./assets/img/service-2.jpg" alt="">
                <div>スタンドオン・経営実践支援システムの利用</div>
            </div>
        </div>
        <div class="service__gallery flex">
            <div class="service__gallery__item">
                <img src="./assets/img/service-3.jpg" alt="">
                <div>経営ワークシートやPDF・エクセル資料が手に入る</div>
            </div>
            <div class="service__gallery__item">
                <img src="./assets/img/service-4.jpg" alt="">
                <div>Amazonで販売中のDVDや書籍が無料で受け取れる</div>
            </div>
            <div class="service__gallery__item">
                <img src="./assets/img/service-5.jpg" alt="">
                <div>経営者倶楽部でグループ学習やビジネスマッチング</div>
            </div>
        </div>
    </div>
</section>
