<section class="themes">
    <div class="container">
        <span class="title primary">当日にお伝えする７つのテーマ</span>

        <ul class="themes__list">
            <li>
                <div class="themes__list__title">１．経営って何？ 社長と経営者の違い</div>
                <div class="themes__list__content">労働型・職人社長のまま「仕事」をすることの怖さ</div>
            </li>
            <li>
                <div class="themes__list__title">２．【図解】経営の全体像</div>
                <div class="themes__list__content">「売上アップ最大化」と「労働時間削減」の仕組み</div>
            </li>
            <li>
                <div class="themes__list__title">３．よくある社長の失敗例</div>
                <div class="themes__list__content">ビジネスへの思い込みや憧れが社長をダメにする</div>
            </li>
            <li>
                <div class="themes__list__title">４．経営の３つの柱と会社機能のチェック</div>
                <div class="themes__list__content">現場を離れるための「経営の設計図」を見直す</div>
            </li>
            <li>
                <div class="themes__list__title">５．６つの戦略で売上を上げる</div>
                <div class="themes__list__content">正しい手順で「今日やるべき事」を実行する</div>
            </li>
            <li>
                <div class="themes__list__title">６．外部チーム・社員を経営に巻き込む</div>
                <div class="themes__list__content">社長不在でも現場が回る「仕組み化」を目指す！</div>
            </li>
            <li>
                <div class="themes__list__title">７．「社長の限界」が「会社の限界」</div>
                <div class="themes__list__content">忙しいが口癖で、人に任せられない社長の限界を超える</div>
            </li>
        </ul>

        <div class="themes__recommend">
            <span class="themes__recommend__title title primary">こんな方にオススメです</span>
            <div class="themes__recommend__content">
                <ul>
                    <li>外部チームを作って仕事を回したい</li>
                    <li>現場を離れたい</li>
                    <li>結局、忙しいから逃げられない</li>
                    <li>電話やメールが止まらない</li>
                    <li>自分がいないと会社が回らない</li>
                    <li>仕組み化や経営を考えたいが、時間が無い</li>
                    <li>この１年やってることを、来年は変えたい</li>
                </ul>
            </div>
        </div>
    </div>
</section>
