<section class="toha">
    <div class="container">
        <div class="title primary">そもそも経営者とは！？</div>


        <div class="toha__desc">
            命に関わることもある経営を学ぶことは非常に難しいことであり、一般的には実際にやりながら、または本を読んだり、周りの先輩社長から教えてもらいながら学んでいきます。<br>
            しかし、社長として経営を学ぶことは、本来「車の免許制度」のように自動車練習所で運転の実地研修と学科教習があり、仮免を取って、車を運転するように会社を経営することが理想です。<br>
            現代社会において企業はなくてはならない存在のにいまだに社長は事故をしながら経営を学んでいます。<br>
            <br>
            これからの会社を継続的に成長させるための実際に必要な経営スキルは下記になります。
        </div>

        <div class="toha__tree">
            <img class="toha__tree__man" src="./assets/img/toha-man.jpg" alt="">
            <div class="toha__tree__desc">経営者スキル一覧</div>
            <img class="toha__tree__img" src="./assets/img/toha-branch.png" alt="">
            <ul class="toha__tree__branch flex">
                <li class="flex-item flex-item-33 flex">
                    <div class="flex flex-col">
                        <div>
                            <img src="./assets/img/ico-present.svg" alt="">
                        </div>
                        <div class="toha__tree__branch__title primary bold">商品力</div>
                        <ul>
                            <li>・理念</li>
                            <li>・ブランディング</li>
                            <li>・ポジショニング</li>
                            <li>・決済方法</li>
                        </ul>
                    </div>
                </li>
                <li class="flex-item flex-item-33 flex">
                    <div class="flex flex-col">
                        <div>
                            <img src="./assets/img/ico-talk.svg" alt="">
                        </div>
                        <div class="toha__tree__branch__title primary bold">営業力</div>
                        <ul>
                            <li>・セールストーク</li>
                            <li>・集客力</li>
                            <li>・見込み客のフォロー</li>
                            <li>・LTV</li>
                        </ul>
                    </div>
                </li>
                <li class="flex-item flex-item-33 flex">
                    <div class="flex flex-col">
                        <div>
                            <img src="./assets/img/ico-management.svg" alt="">
                        </div>
                        <div class="toha__tree__branch__title primary bold">マネジメント</div>
                        <ul>
                            <li>・チームづくり</li>
                            <li>・仕組み化</li>
                            <li>・人材育成</li>
                            <li>・組織づくり</li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>

        <div class="toha__desc">
            上記のように、主に会社を動かすためのスキルがあり、経営資源というリソース（ヒト・モノ・カネ・情報・時間）の順番を変える経営のみを行う方（職業）が経営者と呼ばれています。<br>
            また、経営者と言っても会社や組織の大きさから学ぶべき経営テーマと必要スキルが違います。
        </div>


        <div class="toha__box">
            <div class="toha__box__title white bold">事業規模と収入目安</div>
            <div class="toha__box__content">
                <span class="toha__box__content__desc">事業規模と月収レベルから算出した社長業の実態は以下の通りです。</span>
            </div>
        </div>
        <div class="toha__box">
            <div class="toha__box__title white bold">経営テーマと課題解決</div>
            <div class="toha__box__content">
                <span class="toha__box__content__desc">
                    各ステージの事業規模に応じて、会社が抱えている企業テーマや課題が異なります。<br>
                    ステージ段階別・経営テーマは以下の通りです。
                </span>
            </div>
        </div>
    </div>
</section>
