<section class="tokuten container">
    <div class="title primary">経営セミナー参加特典</div>

    <div class="white bg-primary">
        セミナー参加者全員に<br>
        限定５大特典プレゼント！
    </div>
    <ul class="tokuten__box">
        <li>
            <img src="./assets/img/tokuten-1.png" alt="">
            <span class="tokuten__box__title primary">
                現役経営者の講師による<br>『ビジネス質問＆経営相談会』への参加権！
            </span>
            <div class="tokuten__box__desc">
                あなたが今お持ちの経営の悩みにその場でお答えします。<br>
                最短で事業の仕組み化や改善に必要な無料経営相談（60分）致します。<br>
                ※セミナー参加者だけの限定特典となります。
            </div>
        </li>
        <li>
            <img src="./assets/img/tokuten-2.png" alt="">
            <span class="tokuten__box__title primary">
                経営ノウハウが凝縮された<br>
                セミナー収録動画をプレゼント！
            </span>
            <div class="tokuten__box__desc">
                経営ノウハウが凝集されたセミナー内容を再度復習することができます。<br>
                ※会場参加が出来ない方は収録したセミナー動画をお送りします。また、動画機材トラブルにより収録できなかった場合は、当日参加者をのぞくチケット購入者にご返金させていただきます。
            </div>
        </li>
        <li>
            <img src="./assets/img/tokuten-3.png" alt="">
            <span class="tokuten__box__title primary">
                全国書店・Amazon発売中！<br>
                『デザイン力×経営力の教科書』をプレゼント！
            </span>
            <div class="tokuten__box__desc">
                JPBA理事の西尾が企業顧問として5000人のトップリーダーのリアルな悩みを徹底解剖した、経営の入門本（定価 1,628円相当）の電子書籍をプレゼント！
            </div>
        </li>
        <li>
            <img src="./assets/img/tokuten-4.png" alt="">
            <span class="tokuten__box__title primary">
                経営の全体像が詳細に解説された<br>
                『次世代効率経営セミナー』（定価 32,400円相当）<br>
                講義動画をプレゼント！
            </span>
            <div class="tokuten__box__desc">
                JPBA代表理事の親川が「経営全体を詳しく解説した1Dayセミナー」を収録。<br>
                ひとり起業家から法人経営者まで「売上７倍」「労働時間削減」を達成した、ノウハウを一挙公開！
            </div>
        </li>
        <li>
            <img src="./assets/img/tokuten-5.png" alt="">
            <span class="tokuten__box__title primary">
                参加者全員にAmazonギフト券が当たります！！！
            </span>
            <div class="tokuten__box__desc">
                今なら「経営セミナー」に参加するだけでAmazonギフト券が当たります。<br>
                ※Amazonギフト券は抽選となりますが、最低100円分は必ず当選するのでぜひご参加ください。
            </div>
        </li>
    </ul>
</section>
