<section class="vision">
    <div class="container">
        <img src="./assets/img/logo-wh.png" alt="">
        <div class="title white">協会の目指すビジョン</div>

        <div class="vision__text white">
            JPBA理念<br>
            <span class="vision__text_emphasis">《「経営力教育」で豊かな社会を共に創る 》</span><br>
            を目指し活動を行っています。<br>
            <br>
            本セミナーでは、経営者を目指したい方に対して、<br>
            当協会開発の【パーソナルビジネスフレームワーク（以下PBFⓇ）】という<br>
            経営を最短で身につけることができる経営メソッドを収納した<br>
            講義動画・電子書籍を無償提供します。<br>
            <br>
            PBFⓇでは、<br>
            ひとり起業家の月収100万円達成率88％達成！<br>
            法人経営にて従業員一人あたり粗利2700万円を達成！した<br>
            「今日から使える、売上が上がる、労働時間を減らす」<br>
            実践的な経営ノウハウ・経済基盤の構築をお伝えしています。<br>
            また、参加者の経営力が上がり、<br>
            ビジネス（貢献）を介して、一人でも多くのお客様を幸せにし、<br>
            いっしょに豊かな社会を創ることを最終目標としています。
        </div>
    </div>
</section>
