@charset 'utf-8';

.details{
  background-color: $color-primary;
  padding: 100px 0;

  &__desc{
    margin-top: 80px;
    font-size: 36px;
    font-weight: bold;
    @media screen and (max-width:$sp-width) {
      font-size: $fs-lll-sp;
    }
    &_small{
      font-size: 26px;
      font-weight: normal;
      @media screen and (max-width:$sp-width) {
        font-size: $fs-l-sp;
      }
    }
  }

  @media screen and (max-width:$sp-width) {
    .flex{
      margin-top: 50px;
    }
  }

  &__card{
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    font-size: 26px;
    @media screen and (max-width:$sp-width) {
      margin-top: 0;
      margin-bottom: 0;
      font-size: $fs-l-sp;
    }

    &__title{
      padding: 1em;
      background: #333333;
    }
    &__content{
      flex-grow: 1;
      font-weight: bold;
      padding: 1em;
      background: white;

    }
  }

  &__card2{
    background: white;
    box-shadow: 0px 0px 10px 9px rgba(0, 0, 0, 0.05);
    padding: 10px 20px;
    text-align: left;

    &__date{
      font-size: 28px;
      @media screen and (max-width:$sp-width) {
        font-size: 19px;
      }
    }
    &__content{
      font-size: 20px;
      @media screen and (max-width:$sp-width) {
        font-size: $fs-m-sp;
      }
      &_large{
        font-size: 30px;
        @media screen and (max-width:$sp-width) {
          font-size: $fs-ll-sp;
        }
      }
    }
  }

  .button{
    margin-top: 100px;
  }
}
