@charset 'utf-8';

.howto{
  padding-top: 66px;
  padding-bottom: 100px;

  &__title{
    font-size: $fs-lll;
    font-weight: bold;
  }
  &__desc{
    margin-top: 80px;
    font-size: $fs-m;
    margin-bottom: 80px;
  }

  .flex > .flex-item{
    flex-basis: calc(100%/3);
  }
}
