@charset 'utf-8';

.header{
  position: relative;
  background-image: url("./assets/img/top-header.jpg");
  background-size: cover;
  padding-bottom: 100px;

  &__text{
    margin-top: 28px;
    margin-bottom: 32px;

    &__title{

      &:first-child,
      &:last-child{
        z-index: 1;
        position: relative;
        display: inline-block;
        padding: 10px 50px;

        &:before{
          content: "";
          position: absolute;
          top: 0; bottom: 0; left: 0; right: 0;
          z-index: -1;
          transform: skewX(-45deg);
        }

      }

      &:first-child{
        font-size: $fs-l;
        font-weight: bold;

        &:before{
          background-color: $color-dark;
        }
      }
      &:last-child{
        &:before{
          background-color: $color-primary;
        }
      }

    }
  }

  &__text2{
    font-size: $fs-l;
    position: relative;
    display: inline-block;
    padding-top: 40px;
    font-weight: bold;
    z-index: 1;

    &:before{
      content: url(./assets/img/top-grass.png);
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-35%) translateX(-50%);
      z-index: -1;
    }
    &:after{
      content: url(./assets/img/top-grass.png);
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-35%) translateX(50%) rotateY(180deg);
      z-index: -1;
    }
  }

  &__text3{
    margin-top: 24px;
    font-size: $fs-m;

  }
}
