@charset 'utf-8';

.join{
  background-image: url(./assets/img/join-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 120px;
  position: relative;
  z-index: -1;

  &:before{
    content: '';
    width: 100%;
    height: 300px;
    position: absolute;
    top: 0;
    background-color: white;
    z-index: -1;
  }
  &:after{
    content: '';
    width: 200%;
    height: 600px;
    position: absolute;
    top: 0;
    left: 50%;
    background-color: $color-primary;
    z-index: -1;
    transform: translateX(-50%) rotate(-15deg);
  }

  &__ico{
    font-size: $fs-l;
    font-weight: bold;
    position: relative;
    z-index: 1;
    margin-bottom: 50px;

    &:before{
      content: '';
      width: 100px;
      height: 100px;
      background-color: white;
      position: absolute;
      top: 50%; left: 50%;
      transform: translateX(-50%) translateY(-50%);
      z-index: -1;
      border-radius: 50%;
    }
    &:after{
      content: '';
      width: 0;
      height: 0;
      border-top: 46px solid white;
      border-right: 27px solid transparent;
      border-left: 27px solid transparent;
      position: absolute;
      top: 100%; left: 50%;
      transform: translateX(-50%);
      z-index: -1;

    }
  }

  &__present{
    background-color: white;
    box-shadow: 0 0 100px 9px rgba(0, 0, 0, 0.1);
    padding-bottom: 90px;
    z-index: -1;
    @media screen and (max-width:$sp-width) {
      padding-top: 10px;
      padding-right: 10px;
      padding-left: 10px;
    }

    &__title{
      font-weight: bold;
      font-size: 96px;
      @media screen and (max-width:$sp-width) {
        font-size: $fs-lll-sp;
      }

      &_small{
        font-size: 76px;
        position: relative;
        z-index: 1;
        @media screen and (max-width:$sp-width) {
          font-size: $fs-ll-sp;
        }

        &:before{
          content: '';
          position: absolute;
          top: 50%; left: 50%;
          width: 1em; height: 1em;
          background-color: #D9CC9D;
          transform: translateX(-50%) translateY(-50%) rotate(45deg);
          z-index: -1;
        }

      }
    }

    &__subtitle{
      font-size: 48px;
      font-weight: bold;
      @media screen and (max-width:$sp-width) {
        font-size: $fs-ll-sp;
      }

      &_large{
        font-size: 64px;
        @media screen and (max-width:$sp-width) {
          font-size: $fs-lll-sp;
        }
      }
    }

    &__desc{
      font-size: $fs-m;
      @media screen and (max-width:$sp-width) {
        font-size: $fs-m-sp;
      }
    }
    
    &__img{
      margin: 0 auto;
    }

    .button{
      margin-top: 40px;
    }
    
    &__attention{
      margin: 90px 40px 0 40px;
      background: #FFD6D6;
      font-size: $fs-m;
      padding: 1em;
      position: relative;
      @media screen and (max-width:$sp-width) {
        font-size: $fs-s-sp;
      }

      &:before{
        content: 'ATTENTION';
        color: white;
        padding: 0 2em;
        background-color: #CE2020;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        border-radius: 50px;


      }
    }
  }
  &__gift{
    &__wrapper{
      background-color: $color-primary;
      position: relative;
      z-index: 1;
      &:before{
        content: '';
        border-bottom: 60px solid $color-primary;
        border-left: 40px solid transparent;
        border-right: 40px solid transparent;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        z-index: -1;

      }
    }

    padding-top: 80px;
    padding-bottom: 50px;
    @media screen and (max-width:$sp-width) {
      display: block;
      padding-top: 40px;
      padding-bottom: 20px;
    }

    &__text{
      position: relative;
      padding: 10px;
      @media screen and (max-width:$sp-width) {
        font-size: $fs-ll-sp;
        display: block;


      }

      &__circle{
        position: absolute;
        top: -1em;
        left: 0;
        transform: rotate(-15deg);
        font-size: 20px;
        font-weight: bold;
        text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        -webkit-text-stroke: 1px #838D0D;
        @media screen and (max-width:$sp-width) {
          top:  -1em;
          left: 1.5em;
          font-size: $fs-xs-sp;
          -webkit-text-stroke: initial;
        }

        &:before{
          content: '';
          background: #65B923;
          width: 5em;
          height: 5em;
          border-radius: 50%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateY(-50%) translateX(-50%);
          z-index: -1;
        }
      }
      &__before{
        font-size: $fs-lll;
        @media screen and (max-width:$sp-width) {
          font-size: $fs-ll-sp;
        }
      }
      &__title{
        font-size: 72px;
        @media screen and (max-width:$sp-width) {
          font-size: $fs-lll-sp;
        }
      }
      &__after{
        font-size: $fs-lll;
        background-color: #CAA500;
        line-height: 2em;
        padding: 0 .5em;
        display: inline-block;
        position: relative;
        @media screen and (max-width:$sp-width) {
          font-size: $fs-ll-sp;
        }

        &:before{
          content: '';
          position: absolute;
          top: 0;
          right: 100%;
          border-left: 1em solid transparent;
          border-top: 1em solid #CAA500;
          border-bottom: 1em solid #CAA500;
          border-right: 1em solid #CAA500;
        }
        &:after{
          content: '';
          position: absolute;
          top: 0;
          left: 100%;
          border-right: 1em solid transparent;
          border-top: 1em solid #CAA500;
          border-bottom: 1em solid #CAA500;
          border-left: 1em solid #CAA500;

        }
      }
      &__desc{
        margin-top: 30px;
        @media screen and (max-width:$sp-width) {
          font-size: $fs-s-sp;
        }
      }
    }
  }
}
