@charset 'utf-8';

.toha{
  padding-top: 90px;
  padding-bottom: 100px;
  background-image: url(./assets/img/toha-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  &__desc{
    margin-top: 70px;
    font-size: $fs-m;
    text-align: left;
  }

  &__tree{
    margin-top: 80px;

    &__desc{
      margin: 1em 0;
      font-size: 29px;
    }

    &__img{
      border-radius: 50%;
    }
    &__branch{
      &.flex{
        justify-content: space-around;
      }
      margin-top: 20px;

      > li{
        flex-basis: calc(100%/3);
        ul{
          margin-top: .5em;
          text-align: left;
          font-size: 20px;
        }
      }
      &__title{
        font-size: $fs-ll;
      }
    }
  }
  &__box{
    margin-top: 80px;

    &__title{
      background: #5E85BE;
      font-size: $fs-lll;
      padding: .5em 0;
    }
    &__content{
      background: white;
      padding: 20px;
      &__desc{}
    }
  }
}
