@charset 'utf-8';

.tokuten{
  padding: 60px 0;

  &__label{
    margin-top: 80px;
    background: #5E85BE;
    padding: .5em 0;
    font-size: $fs-ll;
  }

  &__box{

    li:first-of-type{
      margin-top: 10px;
    }
    > li{
      background: #FFFFFF;
      box-shadow: 0 0 10px 9px rgba(0, 0, 0, 0.05);
      padding: 30px 40px;
      text-align: left;
    }
    li + li{
      margin-top: 20px;
    }

    &__content{
      display: flex;

      &__title{
        font-size: 33px;
        line-height: 43px;
      }

    }
    &__desc{
      margin-top: 20px;
      font-size: $fs-s;
    }
  }
}
