@charset 'utf-8';

.toha{
  padding-top: 90px;
  padding-bottom: 100px;
  background-image: url(./assets/img/toha-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  &__desc{
    margin-top: 70px;
    font-size: $fs-m;
    text-align: left;
    @media screen and (max-width:$sp-width) {
      font-size: $fs-m-sp;
    }
  }

  &__tree{
    margin-top: 80px;

    &__desc{
      margin: 1em 0;
      font-size: 29px;
      @media screen and (max-width:$sp-width) {
        font-size: $fs-m-sp;
      }

    }

    @media screen and (max-width:$sp-width) {
      img{
        width: 50%;
      }
    }
    &__man{
      border-radius: 50%;
    }
    &__img{
      @media screen and (max-width:$sp-width) {
        width: 75% !important;
      }
    }
    &__branch{
      &.flex{
        justify-content: space-around;
      }
      margin-top: 20px;

      > li{
        ul{
          margin-top: .5em;
          text-align: left;
          font-size: 20px;
          @media screen and (max-width:$sp-width) {
            font-size: $fs-s-sp;
          }
        }
      }
      &__title{
        font-size: $fs-ll;
        @media screen and (max-width:$sp-width) {
          font-size: $fs-l-sp;
        }
      }
    }
  }
  &__box{
    margin-top: 80px;

    &__title{
      background: #5E85BE;
      font-size: $fs-lll;
      padding: .5em 0;
      @media screen and (max-width:$sp-width) {
        font-size: $fs-lll-sp;
      }
    }
    &__content{
      background: white;
      padding: 20px;
      &__desc{
        @media screen and (max-width:$sp-width) {
          font-size: $fs-s-sp;
        }
      }
    }
  }
}
