@charset 'utf-8';

.card {
  box-sizing: border-box;
  padding: 20px;
  background: white;
  box-shadow: 0 0 100px 9px rgba(0, 0, 0, 0.1);
  @media screen and (max-width:$sp-width) {
    padding: 5px;
  }

  &__ico{
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__title{
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
    @media screen and (max-width:$sp-width) {
      font-size: $fs-m-sp;
    }
  }
  &__desc{
    margin-top: 10px;
    font-size: $fs-s;
    @media screen and (max-width:$sp-width) {
      font-size: $fs-s-sp;
    }
  }
}
