@charset 'utf-8';

.card {
  //flex-basis: 310px;
  flex-basis: calc(100%/3);
  height: 300px;
  box-sizing: border-box;
  padding: 20px;
  background: white;
  box-shadow: 0 0 100px 9px rgba(0, 0, 0, 0.1);

  &__ico{
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__title{
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
  }
  &__desc{
    margin-top: 10px;
    font-size: $fs-s;
  }
}
