@charset 'utf-8';

.performance__card {
  display: flex;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  &__ico{
    flex-basis: 100%;
    @media screen and (max-width:$sp-width) {
      flex-basis: 50%;
    }
    > img{
      width: 100%;
      height: 100%;
    }

  }
  &__content{
    text-align: left;
    padding: 10px;
    box-sizing: border-box;
    &__title{
      font-size: 20px;
      @media screen and (max-width:$sp-width) {
        font-size: $fs-m-sp;
      }
      @media screen and (max-width:$sp-width) {
        font-size: $fs-m-sp;
      }
    }
    &__desc{
      font-size: $fs-s;
      @media screen and (max-width:$sp-width) {
        font-size: $fs-s-sp;
      }
    }
  }
}
